[submodule "themes/paper"]
	path = themes/paper
	url = https://github.com/nanxiaobei/hugo-paper
[submodule "themes/lekh"]
	path = themes/lekh
	url = https://github.com/ba11b0y/lekh.git
[submodule "themes/archie"]
	path = themes/archie
	url = git@github.com:athul/archie.git
